* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    height: fit-content;
    width: 100%;
}

.nav-list {
    position: relative;

    display: flex;
    flex-direction: row;

    justify-content: center;

    background-color: black;
}

.nav-item {
    position: relative;
    padding: 1.5% 2%;

    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#home {
    background-color: white;
    color: black;
}

header {
    position: relative;

    height: 650px;
    width: 100%;

    background-image: url("../imgs/bg.jpg");
    background-size: 100% 100%;
}

.title {
    position: relative;
    top: 70%;
    left: 10%;
    width: fit-content;

    color: white;
    font-family: 'Rokkitt', serif;
    font-size: 250%;
    letter-spacing: 2px;
}

#about {
    position: relative;
    height: 650px;
    width: 100%;

    background-color: darkgray;
    display: flex;
    justify-content: center;
}

.about-text {
    position: relative;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 20% auto 10%;
}

#about-title {
    position: relative;

    font-family: 'Cardo', serif;
    font-size: 200%;

    left: 1%;
    margin: 5%;
}

#image {
    position: relative;
    width: 25%;
    height: 50%;

    margin: auto;
    left: 20%;
    top: -10%;
}

#photo {
    position: relative;
    height: 50%;

    top: 35%;
    left: 10%;
    margin: 0 5% 0 0;
}

#portfolio {
    position: relative;
    height: 500px;
    width: 100%;

    background-color: lightgray;
    text-align: center;
}

#portfolio-title, #contacts-title {
    padding: 2% 0;

    text-transform: uppercase;
    font-family: 'Antic Slab', serif;
    letter-spacing: 1px;
}

.works {
    position: relative;

    display: flex;
    justify-content: center;
}

.item {
    position: relative;

    background-color: white;
    width: 30%;

    margin: 0 1%;
}

.project-img {
    position: relative;

    width: 80%;
}

.project-title {
    margin-top: 1%;
}

.open-window {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

    z-index: 1;
    opacity: 0.3;
}

#contacts {
    position: relative;
    height: 230px;

    background-color: white;

    text-align: center;
}

.icons {
    width: 1%;

    margin: 2% 0.5%;
    opacity: 0.3;
}

footer {
    position: relative;

    background-color: black;

    width: 100%;
    height: 100px;

    text-align: center;
    color: white;
}

#author {
    padding: 1% 0 0 0;

    text-transform: uppercase;
    font-family: 'Antic Slab', serif;
    letter-spacing: 1px;

    font-size: 150%;
}

#year {
    font-family: 'Nunito Sans', sans-serif;
}

.gray-box {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    z-index: 1000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.window {
    position: absolute;
    width: 600px;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;

    background-color: white;

    text-align: center;

    border: black solid 3px;
    border-radius: 10px;

    padding-bottom: 10px;

    display: none;

    z-index: 1001;
}

.popup-title, .popup-text {
    color: gray;
}

.popup-title {
    margin: 20px;
}

.popup-text {
    margin: 10px;
}

.popup-button {
    background-color: black;
    color: white;

    width: 120px;
    height: 60px;

    font-size: 150%;
}

.hamburger {
    position: absolute;
    right: 0;

    visibility: hidden;
    z-index: 1;
}

#hamburger-button {
    position: absolute;

    background-image: url("../imgs/menu.svg");
    background-size: contain;

    width: 50px;
    height: 50px;

    right: 0;
}

.hamburger-list {
    position: relative;

    top: 50px;

    background-color: black;
    text-align: left;

    list-style: none;
    opacity: 0;
}

.hamburger-item {
    padding: 20px;
}

.hamburger-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.left-rotate {
    animation: left-spin 0.5s;
}

.right-rotate {
    animation: right-spin 0.5s;
}

.show-list {
    animation: to-left 0.5s;
}

.hide-list {
    animation: to-right 0.5s;
}

@keyframes right-spin {
    0% {
        transform: rotate(0);
        background-image: url("../imgs/menu.svg");
    }
    100% {
        transform: rotate(180deg);
        background-image: url("../imgs/close.svg");
    }
}

@keyframes left-spin {
    0% {
        transform: rotate(180deg);
        background-image: url("../imgs/close.svg");
    }
    100% {
        transform: rotate(0);
        background-image: url("../imgs/menu.svg");
    }
}

@keyframes to-left {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes to-right {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 900px) {
    .nav-item {
        visibility: hidden;
    }

    .hamburger {
        visibility: visible;
    }
}